*{
    padding: 0;
    margin: 0;
}

.box{
    position: absolute;
    left: 50%;
    padding: 10px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background-color: black;
}